@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
.container {
  max-width: 1280px;
  margin: 0 auto;
}

img {
  display: block;
}

button {
  border: none;
  outline: none;
}

.slider {
  outline: none;
}

.slick-arrow {
  font-size: 0;
  height: 73px;
  width: 40px;
  position: absolute;
  top: 20%;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.slick-arrow:hover {
  fill: #C7B299;
}

.slick-arrow.slick-prev {
  background-image: url(img/slider_header_left.svg);
}

.slick-arrow.slick-prev:hover {
  background-image: url(img/slider_header_left-c.svg);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.slick-arrow.slick-next {
  background-image: url(img/slider_header_right.svg);
  opacity: 0.5;
}

.slick-arrow.slick-next:hover {
  background-image: url(img/slider_header_right-c.svg);
  -webkit-transition: 200ms;
  transition: 200ms;
  opacity: 1;
}

header {
  height: 100vh;
  background-image: url(img/bg_header.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0;
}

.header__wrapper {
  position: relative;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.header__logo-text {
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  color: #fff;
  line-height: 40px;
}

.header__navbar {
  position: absolute;
  right: 0px;
  width: 740px;
  height: 24px;
  padding-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__item a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.navbar__item a:hover {
  color: #C7B299;
}

.navbar__item:nth-last-of-type {
  padding-left: 54px;
}

li {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.navbar__cart {
  padding-right: 30px;
  padding-left: 54px;
}

.header__info {
  width: 570px;
  margin: 0 auto;
  position: relative;
  top: 39%;
  -webkit-transform: translateY(-39%);
          transform: translateY(-39%);
}

.header__text-top {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  text-align: center;
}

.header__text-middle {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 61px;
  color: #fff;
  text-align: center;
}

.header__text-bottom {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  padding-top: 4px;
}

.header__btn {
  padding: 20px 40px;
  background-color: #988574;
  border-radius: 3px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
  margin-left: 200px;
}

.card__img {
  width: 50px;
  height: 50px;
  margin: 0 110px;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 90px 50px;
}

.service__card {
  width: 270px;
}

.service__card::after {
  content: ' ';
  width: 70px;
  height: 3px;
  background-color: #F1EEE9;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  display: inline-block;
}

.service__card:hover::after {
  background-color: #C7B299;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.service__card:hover h1 {
  color: #C7B299;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.service__card:hover svg path {
  fill: #C7B299;
  stroke: #C7B299;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.card__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #555555;
  text-align: center;
  padding-top: 30px;
}

.card__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-align: center;
  padding-top: 20px;
}

.realization {
  background-color: #FBFAF8;
}

.realization__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #555555;
  text-align: center;
  padding-top: 80px;
}

.realization__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #8C8C8C;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  width: 770px;
}

.realization__img {
  margin: 0 20px;
  padding-top: 40px;
}

.purchase {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}

.purchase__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.purchase__heading {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  line-height: 33px;
  color: #C7B299;
  padding-top: 45px;
}

.p__heading {
  color: #fff;
}

.purchase__text {
  margin-left: 20px;
}

.purchase__text-mini {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #615855;
  padding-top: 5px;
  padding-bottom: 45px;
}

.purchase__btn {
  font-family: 'Roboto', sans-serif;
  padding: 20px 30px;
  border-radius: 3px;
  background-color: #988574;
  border-color: #988574;
  width: 180px;
  height: 53px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-right: 20px;
}

.projects__text {
  padding-top: 60px;
  width: 800px;
  margin: 0 auto;
}

.project__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #555555;
  text-align: center;
}

.projects__text-mini {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #8C8C8C;
  text-align: center;
  padding-top: 10px;
}

.projects__buttons {
  width: 620px;
  margin: 0 auto;
  padding-top: 30px;
}

.project__switch-main {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-align: center;
  width: 70px;
  height: 32px;
  margin-right: 10px;
  background-color: #998575;
  border: #EBEBEB;
  border-radius: 3px;
}

.project__switch {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #8c8c8c;
  text-align: center;
  width: 120px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
}

.project__switch:not(last-of-type) {
  margin-right: 10px;
}

.projects__cards {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__item {
  width: 370px;
  height: 340px;
  margin-bottom: 70px;
  background-color: #FBFAF8;
  position: relative;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.card__body {
  text-align: left;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card__body::before {
  content: "";
  -webkit-transition: 200ms;
  transition: 200ms;
  position: absolute;
  background-color: transparent;
  top: -6px;
  left: 20px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
}

.project__item:hover .card__body::before {
  border-bottom: 10px solid #362f2d;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.project__item:hover {
  background-color: #352F2D;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.project__item:hover h2 {
  color: #fff;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.project__item:hover p {
  color: #C7B299;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.project__item:hover img {
  -webkit-transform: scale(1.01) rotate(-0.5deg);
          transform: scale(1.01) rotate(-0.5deg);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.cards__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #C7B299;
  padding-top: 25px;
  padding-left: 20px;
}

.cards__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #d1d1d1;
  padding-top: 10px;
  padding-left: 20px;
}

.more__btn {
  padding: 20px 45px;
  background-color: #988574;
  border: none;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.video__presentation {
  background: url(img/video__bg.png) no-repeat center center;
  height: 705px;
  margin-top: 30px;
}

.play__btn {
  margin: 0 auto;
  padding-top: 250px;
}

.video__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
  text-align: center;
  padding-top: 30px;
}

.video__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  padding-top: 18px;
  width: 570px;
  margin: 0 auto;
}

.video__time {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #C7B299;
  text-align: center;
  padding-top: 20px;
}

.mobile {
  padding-top: 80px;
}

.mobile__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mobile__info {
  margin-left: 64px;
  margin-right: 20px;
}

.mobile__function {
  padding-left: 130px;
  padding-bottom: 200px;
}

.mobile__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #555;
  padding-bottom: 20px;
}

.mobile__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #8c8c8c;
  padding-bottom: 50px;
  width: 670px;
}

.function__item {
  list-style-type: none;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #8c8c8c;
}

.function__item::before {
  content: '';
  background: url(img/circle_arrow.png) no-repeat;
  position: absolute;
  width: 21px;
  height: 21px;
  left: -30px;
  top: 5px;
}

.function__item:not(last-of-type) {
  padding-top: 10px;
}

.counters {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 0;
}

.counter__img {
  margin: 0 auto;
}

.counter__number {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 59px;
  color: #fff;
  text-align: center;
}

.counter__text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #C7B299;
  text-align: center;
}

.counter__item:not(last-of-type) {
  margin-right: 70px;
}

.posts__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #555555;
  padding-top: 100px;
  text-align: center;
}

.posts__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
  width: 770px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.post__card.slick-slide,
.post__card.slick-active {
  width: 370px;
}

.post__card {
  border: 1px #B2B2B2 solid;
  width: 370px;
  margin-bottom: 55px;
  margin-top: 30px;
  position: relative;
}

.date {
  position: absolute;
  text-align: center;
  top: 20px;
  left: 20px;
}

.data {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  width: 50px;
  background-color: #363636;
  border-radius: 3px 3px 0 0;
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;
  display: block;
}

.day {
  margin: 0 0 0 0;
  padding: 5px 0 5px 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  width: 50px;
  background-color: #252525;
  border-radius: 0 0 3px 3px;
  display: block;
}

.post__card:hover .data {
  background-color: #c7b299;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.post__card:hover .day {
  background-color: #a48d72;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.post__card:not(:last-of-type) {
  margin-right: 85px;
}

.post__heading-card {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #555555;
  padding-top: 30px;
  padding-left: 25px;
}

.post__text-card {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  padding: 20px 25px;
}

.post__more {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #C7B299;
  margin-left: 25px;
  margin-bottom: 20px;
  text-decoration: none;
  outline: none;
}

.post__card:hover {
  background-color: #352F2D;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.post__card:hover .post__heading-card {
  color: #C7B299;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.post__card:hover .post__text-card {
  color: #fff;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.post__card:hover .post__img {
  -webkit-transform: scale(1.01) rotate(-0.5deg);
          transform: scale(1.01) rotate(-0.5deg);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.post__more::after {
  content: url(img/read_more_icon.svg);
  padding-left: 10px;
  width: 5px;
  height: 8px;
}

.slick-active {
  outline: none;
}

.post__img {
  width: 100%;
  position: relative;
}

.post__img::before {
  content: ' ';
  background-image: url(img/Calendar.svg);
  position: absolute;
  width: 50px;
  height: 60px;
  display: block;
}

.posts__cards.slick-slider {
  position: relative;
  left: 3.5%;
}

.partners {
  background-image: url(img/bg_partners.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}

.partners__img {
  padding: 140px 0px;
  margin: 0 auto;
}

footer {
  background-color: #191919;
}

.waxom__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.waxom__widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 110px;
  margin-left: 55px;
}

.waxom__info {
  width: 270px;
  padding-top: 75px;
  margin-left: 15px;
}

.waxom__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.waxom__name {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  color: #fff;
  padding-left: 10px;
}

.waxom__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
  margin: 20px 0;
}

.waxom__info .post__more {
  margin: 20px 0;
  color: #fff;
}

.post a {
  text-decoration: none;
}

.waxom__info .post__more::after {
  content: url(img/read_more_icon-f.svg);
  padding-left: 10px;
  width: 5px;
  height: 8px;
}

.posts__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 25px;
}

.twitter__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 25px;
}

.widget__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 25px;
}

.twit__date,
.post__date {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #363636;
}

.twit__text,
.post__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
  width: 270px;
}

.post,
.twit {
  margin: 0 0 20px 0;
  text-decoration: none;
  border-bottom: 2px solid #252525;
  padding: 0 0 20px 0;
  width: 270px;
}

.recent__posts,
.twitter {
  margin-right: 55px;
}

.post__date {
  margin-bottom: 5px;
}

.post:hover .post__date {
  color: #fff;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.post:hover .post__text {
  color: #C7B299;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.link {
  color: #00BFF3;
}

.widget__img {
  width: 130px;
  height: 98px;
}

.widgets__img-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 9px;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

.widget__img:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.copyright {
  background-color: #101010;
  width: 100%;
  margin-top: 130px;
}

.copyright__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0 40px 15px;
}

.copyright__text,
.copyright__links {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #555555;
}

.copyright__links {
  text-decoration: none;
  margin-left: 25px;
  border-left: 1px solid #252525;
  padding: 0 0 0 12px;
}

.copyright__links:hover {
  color: #BAA78F;
}

.slider__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.slider__arrow-left,
.slider__arrow-right {
  width: 20px;
  height: 20px;
}

.slider__arrow-left {
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */